<!-- src/pages/components/sidebar.html -->
<div class="flex-none">
    <div class="h-[calc(100vh-35px)] w-16 flex flex-col bg-blue-100 dark:bg-custom-gray-2">
        <a href="index.html">
            <div class="side-bar-main">
                <!-- Only one ../ because when included, there is only one ../ to do -->
                <img src="../img/icon.png" alt="icon">
            </div>
        </a>
        <a href="timer.html">
            <div class="side-bar-item group">
                <i class="fa-solid fa-stopwatch text-custom-blue fa-2xl group-hover:text-white"></i>
            </div>
        </a>
        <a href="#">
            <div class="side-bar-item-disabled group">
                <i class="fa-solid fa-microchip text-custom-blue fa-2xl group-hover:text-white"></i>
            </div>
        </a>
        <a href="stats.html">
            <div class="side-bar-item group">
                <i class="fa-solid fa-chart-simple text-custom-blue fa-2xl group-hover:text-white"></i>
            </div>
        </a>
        <a href="#">
            <div class="side-bar-item-disabled group">
                <i class="fa-solid fa-book text-custom-blue fa-2xl group-hover:text-white"></i>
            </div>
        </a>
        <a href="settings.html">
            <div class="side-bar-item group">
                <i class="fa-solid fa-gears text-custom-blue fa-2xl group-hover:text-white"></i>
            </div>
        </a>
    </div>
</div>