body {
    margin: 0;
    font-family: sans-serif;
    text-align: justify;
}


.draggable {
    padding: 2px;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: end;
    -webkit-app-region: drag;
}

.controls {
    -webkit-app-region: no-drag;
    user-select: none;
    padding: 5px 0 0;
}

.button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
}

.button.close { background: #F03823; }
.button.minimize { background: #FCA101; margin: 0 3px; }
.button.maximize { background: #66E017; }

.button.close:hover { background: #CC2411; }
.button.minimize:hover { background: #D48802; }
.button.maximize:hover { background: #4EBD06; }

